

div.login_main_block {
  margin-left: 35%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 500px;
}



div.buttons {
  justify-content: center;
  margin-right: 55%;
  margin-top: 5%;
}
button{
  margin: 2%;
}


