<div class="routes_main_block">
  <a routerLink="/home"><div class="route_block">
    <img src="../../assets/home-solid.svg"> Home
  </div></a>
  <a routerLink="/inventory"><div class="route_block">
    <img src="../../assets/cart-flatbed-solid.svg" height="16" width="16"> Inventory
  </div></a>
  <a routerLink="/reports"><div class="route_block">
    <img src="../../assets/folder-regular.svg">Reports
  </div></a>
  <a routerLink="/billing"><div class="route_block"><img src="../../assets/sack-dollar-solid.svg">
    Billing
  </div></a>
  <a routerLink="/profile"><div class="route_block">
    <img src="../../assets/user-solid.svg">Profile
  </div></a>
</div>
